@import 'bulma/css/bulma.css';

header{
  background-color: rgba(255, 255, 0, 0.568);
}
nav > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.navLink{
  background-color: rgba(182, 182, 18, 0.507);
  display: inline-flex;
  padding: 10px 50px;
}
section{
  background-color: lightblue;
  min-height: 100px;
}
footer{
  background-color: rgba(182, 182, 18, 0.507);
  min-height: 50px;
}