#all
{
  font-family: 'Times New Roman', Times, serif;
  background-color: antiquewhite;
}

#p1,#p2
{
  padding: 5px;
  width: 50%;
  height: auto;
  background-color: blue;
  float: left;
}

#p2
{
  background-color: aquamarine;
}

